@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;

}
.container h2{
    color: #000;
    margin-top: -10px;
    margin-left: -896px;
}

.header {
  border-bottom: 3px solid #32b9cd;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}


.titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
}



.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
} */

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border:  2px solid #D8D8D8;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: 50%;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÃFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: #000;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border-right: 3px solid #32b9cd; */ 
  background-color: #72a4c9;
  background-image: linear-gradient(160deg, #72a4c9 0%, #80b2d0 100%);     
  /* border: 3px solid pink; */
}
.logo h2{
  color: #fff;
  margin-top: -25px;
}


.dash-right {
  display: flex;
  width: 90%;
  height: 100%;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 10%;
}

.header-left h3  {
  color: #fff;
  font-weight: 300;
  margin-left: -100px;

  margin-top: 10px;
}



.hello {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: -80px;
  margin-left: 100px;

}

.hello h3 {
  color: #fff;

  font-size: 1rem;
  display: flex;
  justify-content: center;

}

.hello h3 span {
  font-weight: 300;
  /* margin-left: 100px; */
  justify-content: center;

  color: #fff;
  padding: 0;


}

.btn-nav {
  width: 40%;
  color: white;
  /* background-color: #e6005a; */
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  /* background-color: white; */
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  /* color: #e6005a; */
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 30%;
  /* background-color: #32b9cd; */
  color: white;
  border: 1px solid #fff;

  border-radius: 7px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}

/* pagina mural */

*,
body {
  font-family: Poppins;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: #fff;

}
.dash-right .avisos h1 {
  width: 100%;
  /* border: 3px solid pink; */
  color: #000;

}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
  color: #000;
}

.dash-right .avisos .div-form input {
  width: 48%;
  border-radius: 5px;
}
.dash-right .avisos .div-form input:focus {
outline: none;
}

.dash-right .avisos .div-form textarea {
  width: 50%;
  /* color: #E6005A; */
  border:  2px solid #D8D8D8;
  background-color: white;
  border-radius: 3px;
  /* position: fixed; */
  resize: none;

}

.dash-right .avisos .div-form textarea:focus {
  outline: none;

}

.dash-right .avisos .div-form button {
  cursor: pointer;

  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #000;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
background: none;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
/* width: 30%; */
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 90%;
  margin-left: -90px;
}

.div-results .feed-container {
  background-color: #72a4c9;
    background-image: linear-gradient(160deg, #72a4c9 0%, #80b2d0 100%); 
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */


.img_logout{
  width: 25px;
  margin-left: 50px;
}